<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
  >
    <!-- <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p> -->
    <p class="col-md-4 mb-0 text-muted">
      Made with <i class="bi bi-heartbreak text-danger"></i>
    </p>

    <a
      href="/app/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
    >
      <i class="bi bi-film text-primary"></i> MyMuvie
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item">
        <a href="/app/" class="nav-link px-2 text-muted">Home</a>
      </li>
      <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li> -->
      <!-- <li class="nav-item">
        <a href="#" class="nav-link px-2 text-muted">About</a>
      </li> -->
    </ul>
  </footer>
</div>
