{% extends "app/home.html" %} {% block search_results %}
<div class="col-md-10">
  <h3><i class="bi bi-database-add text-success"></i> Results</h3>
  {% if search_result %}
  <form method="post" action="/app/save/">
    {% csrf_token %} {% for item in search_result %}
    <input
      type="radio"
      name="item"
      id="item{{ forloop.counter }}"
      value="{{ item.0 }}/{{ item.1 }}"
    />
    <label for="item{{ forloop.counter }}">{{ item.0 }} - {{ item.1 }}</label>
    {% endfor %}
    <br />
    <input type="submit" value="Save" />
  </form>
  {% else %}
  <p>No movies.</p>
  {% endif %}
</div>
{% endblock %}
